<!DOCTYPE html>
<html lang="{{ (grav.language.getActive ?: grav.config.site.default_lang)|e }}">

	<head>
		{% block head %}
			<meta charset="utf-8"/>
			<title>
				{% if header.title %}
					{{ header.title|e }}
					|
				{% endif %}
				{{ site.title|e }}</title>

			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			{% include 'partials/metadata.html.twig' %}

			<link rel="preload" href="{{ url('theme://fonts/SchibstedGrotesk/SchibstedGrotesk-VariableFont_wght.woff2') }}" as="font" type="font/woff2" crossorigin>
			<link rel="icon" type="image/png" href="{{ url('theme://images/logo.png')|e }}"/>
			<link rel="canonical" href="{{ page.canonical(true)|e }}"/>
		{% endblock head %}

		{% block stylesheets %}
			{% do assets.addCss('https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css', 100) %}
			{% do assets.addCss('theme://css/main.css', 99) ~ compress %}
			{% if page.header.liquid_top_right == true %}
				{% do assets.addCss('theme://css/liquid-top-right.css') ~ compress %}
			{% endif %}
			{% if page.header.liquid_bottom_right == true %}
				{% do assets.addCss('theme://css/liquid-bottom-right.css') ~ compress %}
			{% endif %}
		{% endblock %}

		{% block javascripts %}{% endblock %}

		{% block assets deferred %}
			{{ assets.css()|raw }}
			{{ assets.js()|raw }}
		{% endblock %}
	</head>

	<body>
		{% block header %}
			<header>
				{% block header_navigation %}
					<nav class="navbar is-transparent" role="navigation" aria-label="Hauptnavigation">
						{% include 'partials/navigation.html.twig' %}
					</nav>
				{% endblock %}
			</header>
		{% endblock %}

		{% block body %}
			<main class="container is-fullhd">
				{% block content %}{% endblock %}
			</main>
		{% endblock %}

		{% block footer %}
			<footer></footer>
		{% endblock %}

		{% block bottom %}
			{{ assets.js('bottom')|raw }}
		{% endblock %}

	</body>

</html>
